* {
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

html, body{
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0px;
    justify-content: center;
    background-color: #f7f7f7;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 10px;
    background: #DCA1E7;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    box-shadow: -1px -4px 18px #000;
}

/*Barra de desplasamiento*/
body::-webkit-scrollbar{
    width: 8px;
    background: rgba(93, 109, 126,.5);
    border-radius: 20px;
}
body::-webkit-scrollbar-thumb{
    background: #8E44AD;
    border-radius: 500px;
}

header .logo a{
    color: #f7f7f7;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    letter-spacing: 8px;
    float: left;
    margin-left: 50px;
    font-weight: 100;
    text-decoration: none;
    font-family: 'Pacifico', cursive
}

header .logo a:hover{
    color: #ec407a;
}

.icono{
   position: absolute;
}
.imaf{
    width: 50px;
    height: 50px;
}

header nav{
    float: right;
}

header nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li{
    list-style: none;
    position: relative;
}

header nav ul li.sub-menu:before{
    content: '\f0d7';
    font-family: fontAwesome;
    color: #fff;
    line-height: 50px;
    position: absolute;
    right: 5px;
}

header nav ul li.active.sub-menu:before{
    content: '\f0d8';
}

header nav ul li ul{
    position: absolute;
    left: 0;
    background: #CF87DC;
    display: none;
    z-index: 33;
}

header nav ul li.active ul{
    display: block;
}

header nav ul li ul li{
    display: block;
    width: 200px;
}

header nav ul li a{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.activate{
    color: #fff;
    background: #D888E7;
}

.menu-toggle{
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 991px) {
    header{
        padding: 0 20px;
        box-shadow: -1px -4px 18px #000;
        z-index: 40;
    }
    
    .menu-toggle{
        display: block;
    }
    
    header nav{
        position: fixed;
        width: 100%;
        height: calc(100vh - 50px);
        background: #DCA1E7;
        top: 50px;
        left: -100%;
        transition: 0.5s;
        z-index: 33;
    }
    
    header nav.active{
        left: 0;
    }
    
    header nav ul{
        display: block;
        text-align: center;
        font-size: 24px;
    }
    
    header nav ul li.active ul{
        position: relative;
        background: #CF87DC;
    }
    
    header nav ul li ul li{
        width: 100%;
    }
}

/*Contenedor padre del contenido*/
.pcontenedor{
    position: absolute;
    width: 100%;
    height: auto;
    background: #f7f7f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


.titulo2{
    text-align: center;
    font-size: 38px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
}

/*Contenido del contenedor padre*/


.pcontenedor .tarjeta{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0, 0.2);
    overflow: hidden;
    margin: 22px;
    transition: all 0.25s;
}

.pcontenedor .tarjeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.pcontenedor .tarjeta img{
    width: 200px;
    height: 200px;
}

.pcontendor .tarjeta h4{
    font-weight: 600;
    
}

.texto1{
    width: 200px;
    position: absolute;
    text-align: center;
    font-size: 22px;
    transform: translateY(-30px);
}

.texto33 h4{
    color: #fff;
    font-weight: 100;
    position: absolute;
    transform: translateY(-90px);
    font-size: 20px;
}
.texto33{
    position: fixed;
    top: 100%;
    width: 200px;
    height: 200px;
    background: rgba(0,0,0,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms;
    
}

.boton-ir{
    padding: 15px 7px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #CF52E4;
    color: #CF52E4;
    text-decoration: none;
    font-size: 20px;
}

.boton-ir:hover{
    background: #CF52E4;
    color: #fff;
    transition: all 300ms;
}

.tarjeta:hover .texto33{
    top: 0;
}

.boton{
    margin-top: 50px;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.boton a{
    padding: 15px 50px;
    text-decoration: none;
    text-align: center;
    color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #D76FE8;
    font-size: 20px;
    background: #D76FE8;
}

.boton a:hover{
    background: #D659EB;
    color: #f7f7f7;
    transition: all 300ms;
}

.blanco{
    position: relative;
    margin-top: 3%;
    width: 100%;
    height: 50px;
    background: #f7f7f7;
}